<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeye.aeaimb.mkpb.mapper.wmkg.WmkgReasonCategoryMapper">

	<resultMap type="com.aeye.aeaimb.mkpb.entity.wmkg.WmkgReasonCategory" id="WmkgReasonCategoryMap">
		<result property="factorCate" column="factor_cate" jdbcType="VARCHAR"/>
		<result property="factorName" column="factor_name" jdbcType="VARCHAR"/>
		<result property="factorRatio" column="factor_ratio" jdbcType="VARCHAR"/>
		<result property="factorSort" column="factor_sort" jdbcType="INTEGER"/>
		<result property="reasonId" column="reason_id" jdbcType="VARCHAR"/>
	</resultMap>


</mapper>

