<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeye.aeaimb.mkpb.mapper.wmkg.WmkgDrugDictMapper">

	<resultMap type="com.aeye.aeaimb.mkpb.entity.wmkg.WmkgDrugDict" id="WmkgDrugDictMap">
		<result property="id" column="id" jdbcType="VARCHAR"/>
		<result property="drugCode" column="drug_code" jdbcType="VARCHAR"/>
		<result property="drugName" column="drug_name" jdbcType="VARCHAR"/>
		<result property="drugNameGe" column="drug_name_ge" jdbcType="VARCHAR"/>
		<result property="sort" column="sort" jdbcType="INTEGER"/>
		<result property="createBy" column="create_by" jdbcType="VARCHAR"/>
		<result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
		<result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
		<result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
		<result property="delFlag" column="del_flag" jdbcType="VARCHAR"/>
	</resultMap>


</mapper>

