<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aeye.aeaimb.mkpb.mapper.kg.KgSearchHistoryMapper">

  <resultMap id="kgSearchHistoryMap" type="com.aeye.cdss.admin.api.entity.KgSearchHistory">
        <id property="id" column="id"/>
        <id property="clientId" column="client_id"/>
        <id property="deptId" column="dept_id"/>
        <id property="orgId" column="org_id"/>
        <id property="keywords" column="keywords"/>
        <id property="createTime" column="create_time"/>
	  	<id property="clientMode" column="client_mode"/>
  </resultMap>

	<!-- clientMode 区分中、西医检索-->
	<select id="hotSearch" resultType="com.aeye.cdss.admin.api.vo.KgSearchHistoryVO">
		SELECT * FROM (SELECT keywords,COUNT(keywords) AS num FROM kg_search_history where client_mode=#{dto.clientMode} GROUP BY keywords) t ORDER BY t.num DESC
	</select>


    <select id="getKgSearchHistoryVOByClientIdAndKeyWords"
            resultType="com.aeye.cdss.admin.api.vo.KgSearchHistoryVO">
		select * from kg_search_history where client_id = #{clientId} and client_mode=#{clientMode}   and keywords = #{keywords}
	</select>
</mapper>