<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeye.aeaimb.hugegraph.mapper.WmkgReasonExamItemMapper">

	<resultMap type="com.aeye.aeaimb.hugegraph.mapper.entity.WmkgReasonExamItem" id="WmkgReasonExamItemMap">
		<result property="examCode" column="exam_code" jdbcType="VARCHAR"/>
		<result property="examName" column="exam_name" jdbcType="VARCHAR"/>
		<result property="examItem" column="exam_item" jdbcType="VARCHAR"/>
	</resultMap>


</mapper>

