<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aeye.aeaimb.hugegraph.mapper.WmkgReasonDiseaseMapper">

	<resultMap type="com.aeye.aeaimb.hugegraph.mapper.entity.WmkgReasonDisease" id="WmkgReasonDiseaseMap">
		<result property="diseaseCode" column="disease_code" jdbcType="VARCHAR"/>
		<result property="diseaseName" column="disease_name" jdbcType="VARCHAR"/>
		<result property="diseaseSort" column="disease_sort" jdbcType="INTEGER"/>
	</resultMap>


</mapper>

